# Backup fiels
~*

# Python build / packaging
build/
dist/
__pycache__/
llmware.egg-info/
venv/

# Jekyll
docs/_site/

# Mac
.DS_Store/

# Ignore chroma_db folder
chroma_db/

# Ignore .env file
.env

# Logs
logs/

# Ignore log files
*.log

# Ignore .pyc files
*.pyc